<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="box">
            <aside>
                <a href="../views/index2.html"><img src="/images/Chutiya.jpeg" alt="" class="profile"></a>
            </aside>
            <img src="/images/instagram.png" alt="" class="insta">
            <img src="/images/dribble.png" alt="" class="dribble">
            <img src="/images/telegram.png" alt="" class="telegram">
            <br>
            <h3>Saudhra Mishra</h3>
            <br>
            <p>Greatest Chutiya of Thapar</p>
        </div>
        <div class="box">
            <aside>
                <a href="../views/index2.html"><img src="/images/Dev.jpeg" alt="" class="profile"></a>
            </aside>
            <img src="/images/instagram.png" alt="" class="insta">
            <img src="/images/dribble.png" alt="" class="dribble">
            <img src="/images/telegram.png" alt="" class="telegram">
            <br>
            <h3>Mutthu Satija </h3>
            <br>
            <p>Works in boys washroom</p>
        </div>
        <div class="box">
            <aside>
                <a href="../views/index2.html"><img src="../images/Abhav.jpeg " alt="" class="profile"></a>
            </aside>
            <img src="/images/instagram.png" alt="" class="insta">
            <img src="/images/dribble.png" alt="" class="dribble">
            <img src="/images/telegram.png" alt="" class="telegram">
            <br>
            <h3>Abhav Goli</h3>
            <br>
            <p>Maintaining Zomato funds</p>
        </div>
        <div class="box">
            <aside>
                <a href="../views/index2.html"><img src="../images/sexena.jpeg" alt="" class="profile"></a>
            </aside>
            <img src="/images/instagram.png" alt="" class="insta">
            <img src="/images/dribble.png" alt="" class="dribble">
            <img src="/images/telegram.png" alt="" class="telegram">
            <br>
            <h3>Saxena Sexxxy</h3>
            <br>
            <p>GenSec Mudhra Derabassi</p>
        </div>
        <div class="box">
            <aside>
                <a href="../views/index2.html"><img src="/images/afeem.jpeg" alt="" class="profile"></a>
            </aside>
            <img src="/images/instagram.png" alt="" class="insta">
            <img src="/images/dribble.png" alt="" class="dribble">
            <img src="/images/telegram.png" alt="" class="telegram">
            <br>
            <h3>Afeem Mittal</h3>
            <br>
            <p>Works at eating</p>
        </div>
        <div class="box">
            <aside>
                <a href="../views/index2.html"><img src="/images/swaraj.jpeg" alt="" class="profile"></a>
            </aside>
            <img src="/images/instagram.png" alt="" class="insta">
            <img src="/images/dribble.png" alt="" class="dribble">
            <img src="/images/telegram.png" alt="" class="telegram">
            <br>
            <h3>Biski</h3>
            <br>
            <p>Works at sleeping</p>
        </div>
    </div>
</body>
</html>